body {
  font-family: Inter, "Courier New", Courier, monospace;
  background: linear-gradient(-180deg, #b5b6f2 0%, #efefff 100%);
}

/* <------------------- HEADER BEGINS ---------------------> */
header {
  background-color: white;
  padding: 25px 100px;
}
.logoDigital {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  font-weight: 600;
  letter-spacing: -0.24px;
  font-size: 24px;
  color: #c92071;
}

.logoDigital span {
  padding-left: 5px;
}
/* <---------  --------- HEADER END -----------------------> */

.boxForm {
    margin-left: 200px;

    max-width: 100%;
    text;
}

.boxForm .cadastroForm {
    display: inline-flex;
    flex-direction: column;
    justify-items: left;
    gap: 15px;
}
input {
    margin-top: -10px;
}
hr {
border:solid 1px black;
margin: 20px 0 20px 0;
}
/* <---------------------- FOOTER BEGINS ---------------> */
footer {
  background-color: #1f1f1f;
  color: #f5f5f5;
}
.footerCaixa {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  margin-top: 150px;
  padding: 5%;
  padding-top: 70px;
  gap: 20px;
  font-size: 18px;
  letter-spacing: 1px;
}
.logoDigitalBW {
  display: inline-flex;
  padding-bottom: 50px;
  line-height: 33px;
  font-size: 33px;
  vertical-align: middle;
  align-items: center;
}
#logoFooter {
  margin-right: 5px;
  vertical-align: middle;
  width: 33px;
  height: 33px;
}
.infoFooter p {
  margin-top: 20px;
  max-width: 250px;
  font-weight: 100px;
  font-size: 14px;
}
.infoFooter a {
  text-decoration: none;
  color: #f5f5f5;
}
.infoFooter p.footerColumnTitle {
  font-size: 1.3rem;
  font-weight: 800px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.footerSocials {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
footer hr {
  margin: auto;
  height: 1.5px;
  max-width: 85%;
  background-color: #565656;
}
.copyright {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: #f5f5f5;
}
/* <-------------------- FOOTER ENDS ------------------> */